!!!
%html
  %head
    %title IssuesNotification
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{src: '//js.pusher.com/2.2/pusher.min.js', type: 'text/javascript'}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
